themes {
    everforest_light_soft {
        text_unselected {
            base 92 106 114
            background 242 239 223
            emphasis_0 255 158 100
            emphasis_1 53 167 124
            emphasis_2 141 161 1
            emphasis_3 223 105 186
        }
        text_selected {
            base 92 106 114
            background 232 228 212
            emphasis_0 255 158 100
            emphasis_1 53 167 124
            emphasis_2 141 161 1
            emphasis_3 223 105 186
        }
        ribbon_selected {
            base 242 239 223
            background 141 161 1
            emphasis_0 79 88 94
            emphasis_1 255 158 100
            emphasis_2 223 105 186
            emphasis_3 58 148 197
        }
        ribbon_unselected {
            base 92 106 114
            background 232 228 212
            emphasis_0 79 88 94
            emphasis_1 223 221 200
            emphasis_2 58 148 197
            emphasis_3 223 105 186
        }
        table_title {
            base 141 161 1
            background 242 239 223
            emphasis_0 255 158 100
            emphasis_1 53 167 124
            emphasis_2 141 161 1
            emphasis_3 223 105 186
        }
        table_cell_selected {
            base 92 106 114
            background 232 228 212
            emphasis_0 255 158 100
            emphasis_1 53 167 124
            emphasis_2 141 161 1
            emphasis_3 223 105 186
        }
        table_cell_unselected {
            base 92 106 114
            background 242 239 223
            emphasis_0 255 158 100
            emphasis_1 53 167 124
            emphasis_2 141 161 1
            emphasis_3 223 105 186
        }
        list_selected {
            base 92 106 114
            background 232 228 212
            emphasis_0 255 158 100
            emphasis_1 53 167 124
            emphasis_2 141 161 1
            emphasis_3 223 105 186
        }
        list_unselected {
            base 92 106 114
            background 242 239 223
            emphasis_0 255 158 100
            emphasis_1 53 167 124
            emphasis_2 141 161 1
            emphasis_3 223 105 186
        }
        frame_selected {
            base 141 161 1
            background 242 239 223
            emphasis_0 255 158 100
            emphasis_1 53 167 124
            emphasis_2 223 105 186
            emphasis_3 58 148 197
        }
        frame_highlight {
            base 255 158 100
            background 242 239 223
            emphasis_0 223 105 186
            emphasis_1 255 158 100
            emphasis_2 141 161 1
            emphasis_3 58 148 197
        }
        exit_code_success {
            base 141 161 1
            background 242 239 223
            emphasis_0 53 167 124
            emphasis_1 92 106 114
            emphasis_2 223 105 186
            emphasis_3 58 148 197
        }
        exit_code_error {
            base 248 85 82
            background 242 239 223
            emphasis_0 223 160 0
            emphasis_1 53 167 124
            emphasis_2 141 161 1
            emphasis_3 58 148 197
        }
        multiplayer_user_colors {
            player_1 223 105 186
            player_2 58 148 197
            player_3 141 161 1
            player_4 223 160 0
            player_5 53 167 124
            player_6 248 85 82
            player_7 255 158 100
            player_8 92 106 114
            player_9 131 165 152
            player_10 167 192 128
        }
    }
}

theme "everforest_light_soft"

show_startup_tips false
pane_frames false
keybinds {
    normal clear-defaults=true {
        bind "Ctrl k" { SwitchToMode "Tmux"; }
        unbind "Ctrl b"
    }
    tmux clear-defaults=true {
        bind "Esc" { SwitchToMode "Normal"; }
        bind "Ctrl k" { Write 2; SwitchToMode "Normal"; }
        bind "p" { SwitchToMode "Pane"; }
        bind "t" { SwitchToMode "Tab"; }
        bind "r" { SwitchToMode "Resize"; }
        bind "m" { SwitchToMode "Move"; }
        bind "s" { SwitchToMode "Scroll"; }
        bind "o" { SwitchToMode "Session"; }
        bind "b" { NewTab; SwitchToMode "Normal"; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
        bind "Up" { NewPane "Up"; SwitchToMode "Normal"; }
        bind "Left" { NewPane "Left"; SwitchToMode "Normal"; }
        bind "Down" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "Right" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "n" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "i" { MoveFocus "Right"; SwitchToMode "Normal"; }
        bind "u" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "e" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "/" { SwitchToMode "EnterSearch"; SearchInput 0;}

        bind "1" { GoToTab 1; SwitchToMode "Normal"; }
        bind "2" { GoToTab 2; SwitchToMode "Normal"; }
        bind "3" { GoToTab 3; SwitchToMode "Normal"; }
        bind "4" { GoToTab 4; SwitchToMode "Normal"; }
        bind "5" { GoToTab 5; SwitchToMode "Normal"; }
        bind "6" { GoToTab 6; SwitchToMode "Normal"; }
        bind "7" { GoToTab 7; SwitchToMode "Normal"; }
        bind "8" { GoToTab 8; SwitchToMode "Normal"; }
        bind "9" { GoToTab 9; SwitchToMode "Normal"; }
        bind "q" { ToggleFloatingPanes; SwitchToMode "Normal"; }
        bind "Space" { NextSwapLayout; }
        bind "," { SwitchToMode "RenameTab"; }
    }
    move {
        bind "n" "Tab" { MovePane; }
        bind "p" { MovePaneBackwards; }
        bind "h" "Left" { MovePane "Left"; }
        bind "e" "Down" { MovePane "Down"; }
        bind "k" "Up" { MovePane "Up"; }
        bind "l" "Right" { MovePane "Right"; }
    }
}
